<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjzPF734pYvj5KydaLyiDbA1h1hbhfwJE</string>
	<key>GCM_SENDER_ID</key>
	<string>742075991851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterpushnotficationfirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterpushnotfication-8ae67</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpushnotfication-8ae67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742075991851:ios:e5e96eee07fe8a6b84276e</string>
</dict>
</plist>